<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Login succesfully
    </h2>
    <div><a href="viewdata2">view_data</a></div>
    <div><a href="https://www.primevideo.com/region/eu/?ref_=atv_auth_pre">Amazon_prime </a></div>
    <div><a href="https://maps.app.goo.gl/VppiCbMoJZAxTmYb6">Bus_number 1142 </a></div>
    <div><a href="https://maps.app.goo.gl/jtKsEfCwueMvtK2g6">Bus_number 1143 </a></div>
    
</body>
</html>