
<table> 
    <thead><tr>
        <th>ID</th>
        <th>First_Name</th>
        <th>Last_Name</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr> </thead>

    {% if key1 %}
   
     <tbody>
        {% for i in key1 %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.Firstname}}</td>
            <td>{{i.Lastname}}</td>
            <td>{{i.Psw}}</td>
            <td><form name="Edit" action="{% url 'edit' pk=i.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Edit">

            </form></td>

            <td><form name="Delete" action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">

            </form></td>
           
        </tr>  
            {% endfor %}


        
     </tbody>
     {% endif %}

     
    
    </table>